In [4]:
import pandas as pd

In [7]:
filepath = 'F:\Intel AI\Machine learning\weel 1\Class1_Introduction_to_Machine_Learning_and_Tools\Class1_Introduction_to_Machine_Learning_and_Tools\data\Iris_Data.csv'
# Import the data
data = pd.read_csv(filepath)
# Print a few rows 
print(data.iloc[:5])

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

# Assigning New Data to a DataFrame
Data can be (re-)assigned to a DataFrame column

In [9]:
# Create a new column that is a product 
# of both measurements
data['sepal_area'] = data.sepal_length * data.sepal_width
# Print a few rows and columns
print(data.iloc[:5, -3:])

   petal_width      species  sepal_area
0          0.2  Iris-setosa       17.85
1          0.2  Iris-setosa       14.70
2          0.2  Iris-setosa       15.04
3          0.2  Iris-setosa       14.26
4          0.2  Iris-setosa       18.00

Applying a Function to a DataFrame Column
Functions can be applied to columns or rows of a DataFrame or Series

In [10]:
# The lambda function applies what 
# follows it to each row of data
data['abbrev'] = (data
.species
.apply(lambda x: 
x.replace('Iris-','')))
# Note that there are other ways to 
# accomplish the above
print(data.iloc[:5, -3:])

       species  sepal_area  abbrev
0  Iris-setosa       17.85  setosa
1  Iris-setosa       14.70  setosa
2  Iris-setosa       15.04  setosa
3  Iris-setosa       14.26  setosa
4  Iris-setosa       18.00  setosa

# Concatenating Two DataFrames
Two DataFrames can be concatenated along either dimension

In [11]:
# Concatenate the first two and 
# last two rows
small_data = pd.concat([data.iloc[:2],
data.iloc[-2:]])
print(small_data.iloc[:,-3:])
# See the 'join' method for
# SQL style joining of dataframes

            species  sepal_area     abbrev
0       Iris-setosa       17.85     setosa
1       Iris-setosa       14.70     setosa
148  Iris-virginica       21.08  virginica
149  Iris-virginica       17.70  virginica

# Aggregated Statistics with GroupBy
Using the groupby method calculated aggregated DataFrame statistics

In [12]:
# Use the size method with a 
# DataFrame to get count
# For a Series, use the .value_counts
# method
group_sizes = (data
.groupby('species')
.size())
print(group_sizes)

species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

# Performing Statistical Calculations
## Pandas contains a variety of statistical methodsâ€”mean, median, and mode

In [13]:
# Mean calculated on a DataFrame
print(data.mean())

sepal_length     5.843333
sepal_width      3.054000
petal_length     3.758667
petal_width      1.198667
sepal_area      17.806533
dtype: float64

C:\Users\priya\AppData\Local\Temp\ipykernel_6704\1123394750.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(data.mean())

In [14]:
# Median calculated on a Series
print(data.petal_length.median())

4.35

In [15]:
# Mode calculated on a Series
print(data.petal_length.mode())

0    1.5
Name: petal_length, dtype: float64